In [1]:
import pandas as pd
import numpy as np                 # "For array operations"
import matplotlib.pyplot as plt    # "For plotting"
%matplotlib inline
import plotly.plotly as py
import plotly.tools as tls
import seaborn as sns
sns.set(style="ticks", color_codes=True)

In [2]:
data = pd.ExcelFile('Kishan_data.xlsx')
Kishan = pd.read_excel(data, 'Sheet1',split=',')

In [3]:
#Kishan.to_csv(r'C:\Users\anuradha.yarasani\Downloads\Data report\Data.csv')

In [17]:
df= pd.read_csv('Data.csv', delimiter=', ', names = ["Age", "workclass", "fnlwgt", "education","education_num","Marital-Status","occupation","relationship","race","Sex","capital-gain","capital-loss","hours-per-week","native-country","class"])  
print(df.shape)                                # Dimensions of the data
df.head()

C:\Users\anuradha.yarasani\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning:

Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

(32561, 15)

,Age,workclass,fnlwgt,education,education_num,Marital-Status,occupation,relationship,race,Sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,"""39",State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,"<=50K"""
1,"""50",Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,"<=50K"""
2,"""38",Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,"<=50K"""
3,"""53",Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,"<=50K"""
4,"""28",Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,"<=50K"""

In [24]:
new = df["Age"].str.split(" ") 
  
new

0        ["39]
1        ["50]
2        ["38]
3        ["53]
4        ["28]
5        ["37]
6        ["49]
7        ["52]
8        ["31]
9        ["42]
10       ["37]
11       ["30]
12       ["23]
13       ["32]
14       ["40]
15       ["34]
16       ["25]
17       ["32]
18       ["38]
19       ["43]
20       ["40]
21       ["54]
22       ["35]
23       ["43]
24       ["59]
25       ["56]
26       ["19]
27       ["54]
28       ["39]
29       ["49]
         ...
32531    ["30]
32532    ["34]
32533    ["54]
32534    ["37]
32535    ["22]
32536    ["34]
32537    ["30]
32538    ["38]
32539    ["71]
32540    ["45]
32541    ["41]
32542    ["72]
32543    ["45]
32544    ["31]
32545    ["39]
32546    ["37]
32547    ["43]
32548    ["65]
32549    ["43]
32550    ["43]
32551    ["32]
32552    ["43]
32553    ["32]
32554    ["53]
32555    ["22]
32556    ["27]
32557    ["40]
32558    ["58]
32559    ["22]
32560    ["52]
Name: Age, Length: 32561, dtype: object

### 1. Select 10 records from the adult sqladb

In [8]:
df.head(10)

,Age,workclass,fnlwgt,education,education_num,Marital-Status,occupation,relationship,race,Sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,"""39",State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,"<=50K"""
1,"""50",Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,"<=50K"""
2,"""38",Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,"<=50K"""
3,"""53",Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,"<=50K"""
4,"""28",Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,"<=50K"""
5,"""37",Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,"<=50K"""
6,"""49",Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,"<=50K"""
7,"""52",Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,">50K"""
8,"""31",Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,">50K"""
9,"""42",Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,">50K"""

### 2. Show me the average hours per week of all men who are working in private sector

In [62]:
 pd.DataFrame(df[df.workclass=='Private'].groupby(['Sex']).mean()['hours-per-week'], columns = ['hours-per-week'])

        hours-per-week
Sex
Female       36.500000
Male         42.221226

### 3. Show me the frequency table for education, occupation and relationship, separately

In [67]:
education_frequency_table = df['education'].value_counts()
education_frequency_table

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [68]:
occupation_frequency_table = df['occupation'].value_counts()
occupation_frequency_table

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64

In [69]:
relationship_frequency_table = df['relationship'].value_counts()
relationship_frequency_table

Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: relationship, dtype: int64

### 4. Are there any people who are married, working in private sector and having a masters degree

In [76]:
Married_Private_Masters= df[(df['Marital-Status'] !='Never-married') & (df['workclass'] =='Private') & (df['education'] =='Masters')]
Married_Private_Masters

,Age,workclass,fnlwgt,education,education_num,Marital-Status,occupation,relationship,race,Sex,capital-gain,capital-loss,hours-per-week,native-country,class
5,"4,""37",Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,"<=50K"""
47,"46,""44",Private,128354,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,"<=50K"""
87,"86,""33",Private,202051,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,"<=50K"""
100,"99,""76",Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,">50K"""
188,"187,""31",Private,99928,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,"<=50K"""
198,"197,""35",Private,138992,Masters,14,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,7298,0,40,United-States,">50K"""
311,"310,""34",Private,142897,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,7298,0,35,Taiwan,">50K"""
361,"360,""62",Private,270092,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,">50K"""
405,"404,""41",Private,445382,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,65,United-States,">50K"""
435,"434,""33",Private,208405,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,">50K"""
468,"467,""49",Private,192776,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,45,United-States,">50K"""
569,"568,""47",Private,87490,Masters,14,Divorced,Exec-managerial,Unmarried,White,Male,0,0,42,United-States,"<=50K"""
606,"605,""51",Private,410114,Masters,14,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,">50K"""
610,"609,""52",Private,200853,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,6849,0,60,United-States,"<=50K"""
697,"696,""31",Private,118710,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,0,1902,40,United-States,">50K"""
777,"776,""34",Private,73585,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,?,"<=50K"""
850,"849,""61",Private,99784,Masters,14,Widowed,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,">50K"""
895,"894,""40",Private,170108,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,"<=50K"""
916,"915,""43",Private,158926,Masters,14,Married-civ-spouse,Prof-specialty,Wife,Asian-Pac-Islander,Female,0,0,50,South,"<=50K"""
927,"926,""51",Private,138022,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,">50K"""
951,"950,""43",Private,227065,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,43,United-States,">50K"""
996,"995,""45",Private,89325,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,45,United-States,"<=50K"""
1014,"1013,""38",Private,173208,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,25,United-States,"<=50K"""
1145,"1144,""33",Private,354573,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,44,United-States,">50K"""
1172,"1171,""25",Private,404616,Masters,14,Married-civ-spouse,Farming-fishing,Not-in-family,White,Male,0,0,99,United-States,">50K"""
1197,"1196,""59",Private,151616,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,"<=50K"""
1224,"1223,""38",Private,22245,Masters,14,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,72,?,">50K"""
1293,"1292,""46",Private,279661,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,35,United-States,"<=50K"""
1341,"1340,""57",Private,89392,Masters,14,Married-spouse-absent,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,"<=50K"""
1378,"1377,""65",Private,198766,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,20051,0,40,United-States,">50K"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31450,"31449,""55",Private,70088,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,">50K"""
31451,"31450,""36",Private,199346,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,">50K"""
31456,"31455,""30",Private,378009,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,">50K"""
31468,"31467,""35",Private,75855,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Black,Male,7298,0,40,?,">50K"""
31513,"31512,""57",Private,132704,Masters,14,Separated,Prof-specialty,Not-in-family,White,Male,10520,0,32,United-States,">50K"""
31592,"31591,""59",Private,59469,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,Iran,"<=50K"""
31596,"31595,""39",Private,72338,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,Philippines,">50K"""
31727,"31726,""50",Private,176157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,">50K"""
31802,"31801,""30",Private,341051,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States,">50K"""
31816,"31815,""43",Private,346321,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,">50K"""
31828,"31827,""47",Private,155664,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,99999,0,55,United-States,">50K"""
31907,"31906,""48",Private,379883,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Cuba,">50K"""
31910,"31909,""43",Private,198330,Masters,14,Widowed,Prof-specialty,Unmarried,Black,Female,0,0,37,United-States,"<=50K"""
31946,"31945,""49",Private,123681,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,43,United-States,">50K"""
32009,"32008,""43",Private,174295,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,"<=50K"""
32017,"32016,""50",Private,99476,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,35,United-States,"<=50K"""
32049,"32048,""32",Private,313835,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,">50K"""
32114,"32113,""40",Private,137225,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,">50K"""
32200,"32199,""25",Private,178025,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,"<=50K"""
32267,"32266,""31",Private,183801,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,43,United-States,">50K"""
32300,"32299,""61",Private,232719,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,"<=50K"""
32311,"32310,""54",Private,161691,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,0,2559,40,United-States,">50K"""
32365,"32364,""41",Private,122215,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States,">50K"""
32457,"32456,""33",Private,139057,Masters,14,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,50,United-States,">50K"""
32472,"32471,""34",Private,30673,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,"<=50K"""
32480,"32479,""41",Private,201495,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,">50K"""
32504,"32503,""50",Private,208630,Masters,14,Divorced,Sales,Not-in-family,White,Female,0,0,50,United-States,">50K"""
32513,"32512,""46",Private,42972,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,22,United-States,">50K"""
32544,"32543,""31",Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,"<=50K"""
32554,"32553,""53",Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,">50K"""

### 5. What is the average, minimum and maximum age group for people working in different sectors

In [11]:
avg_Age_differentsectors = pd.DataFrame(df.groupby(['workclass']).mean()['Age'], columns = ['Age'])
avg_Age_differentsectors

KeyError: 'Age'

In [9]:
Min_Age_differentsectors = pd.DataFrame(df.groupby(['workclass']).min()['Age'], columns = ['Age'])
Min_Age_differentsectors

                  Age
workclass
?                 "17
Federal-gov       "17
Local-gov         "17
Never-worked      "17
Private           "17
Self-emp-inc      "17
Self-emp-not-inc  "17
State-gov         "17
Without-pay       "19

In [10]:
Max_Age_differentsectors = pd.DataFrame(df.groupby(['workclass']).max()['Age'], columns = ['Age'])
Max_Age_differentsectors

                  Age
workclass
?                 "90
Federal-gov       "90
Local-gov         "90
Never-worked      "30
Private           "90
Self-emp-inc      "84
Self-emp-not-inc  "90
State-gov         "81
Without-pay       "72

### 6. Calculate age distribution by country

In [ ]:

fig, ax = plt.subplots(figsize=(15,8))

sns.barplot(x='native-country', y="Age", data=df)
plt.xticks(rotation=90)

### 7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and 'capital-loss'

In [12]:
df.columns

Index(['Age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'Marital-Status', 'occupation', 'relationship', 'race', 'Sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'class'],
      dtype='object')

In [14]:
df['Net-Capital-Gain'] =df['capital-gain']-df['capital-loss']
df.head(10)

,Age,workclass,fnlwgt,education,education_num,Marital-Status,occupation,relationship,race,Sex,capital-gain,capital-loss,hours-per-week,native-country,class,Net-Capital-Gain
0,"""39",State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,"<=50K""",2174
1,"""50",Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,"<=50K""",0
2,"""38",Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,"<=50K""",0
3,"""53",Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,"<=50K""",0
4,"""28",Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,"<=50K""",0
5,"""37",Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,"<=50K""",0
6,"""49",Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,"<=50K""",0
7,"""52",Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,">50K""",0
8,"""31",Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,">50K""",14084
9,"""42",Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,">50K""",5178